.preview-header {
    text-align: center;
    background-color: darkslategray;
    color:white;
    padding: 2px;
    border-bottom: 8px solid darkturquoise;
}

textarea {
    height: 600px;
    width:100%;
}
.editor {	
    float: left;
    padding:20px;
    width: 45%;
}

.output {
    width: 45%;
    height: 500px;
    float: left;
}


.md-reference a {
    color: darkturquoise;
    text-decoration: none;
    border: 2px solid darkturquoise;
    padding:5px;
}

.md-reference a:hover {
    background-color: white;
    color: darkslategray;
    border: 2px solid darkslategray;
}